:host() {
    --dark-blue: #0b0d21;
    --light-white: #fafafa;
    --light-blue: #477df9;
    --light-pink: #e91e63;
    --dull-blue: #1d1e33;
    --size-16: 16px;
    --size-14: 14px;
    --size-12: 12px;

}

.app {
    min-height: 100vh;
    background-image: url(/sfsites/c/resource/BmiAppBackgroundImage);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    max-width: 420px;
    text-align: center;
    margin: auto;
    background-color: var(--dark-blue);
    color: var(--light-white);
    padding: var(--size-16);
    border-radius: 30px;
}

h1 {
    font-size: 36px;
    padding: 20px 0;
    font-weight: bold;
}

.info-wrapper {
    background-color: var(--dull-blue);
    padding: var(--size-16);
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    font-size: var(--size-14);
    text-align: center;
}

h2 {
    font-size: 26px;
    color: #e91e63;
}

h3 {
    font-weight: 700;
}

label {
    font-size: 20px;
    color: var(--light-white);
}

input {
    color: var(--dull-blue);
    padding: 8px;
    font-size: var(--size-16);
}

.label-input-section {
    margin-bottom: 2rem;
}

.custom-button {
    font-size: 16px;
    padding: 12px;
    background: #e91e63;
    border-color: #e91e63;
    color: white;
    margin-bottom: 2rem;
}

.result-value {
    color: var(--light-blue);
    font-size: 30px;
}

